{% extends 'wordcount/base.html' %}
{% block content %}

<div class="ui text container" style="text-align:center;margin-top: 100px;">
    <a href="{% url 'about' %}">
        <i class="massive user icon"></i>
    </a>
    <br><br>
    <form class="ui form" action="{% url 'count' %}">
        <div class="field">
            <textarea name="fulltext" id="" cols="40" rows="20"></textarea>
            <br><br>
            <button class="massive ui primary button" type="submit">
            결과
            </button>
        </div>
    </form>
</div>
{% endblock content %}